# Default theme for the site (will be overridden by user preference)
PUBLIC_DEFAULT_THEME=nightfall

# Commit SHA (injected by CI)
PUBLIC_COMMIT_SHA=dev

# Deploy timestamp (injected by CI)
PUBLIC_DEPLOY_TIMESTAMP=2024-01-01T00:00:00.000Z
